# Copy these to Railway → Variables tab
# DO NOT commit actual values to GitHub

BOT_TOKEN=your_bot_token_here
ADMIN_IDS=8327371312
UPI_ID=tomar.anuj20@ybl
UPI_NAME=Anuj Tomar
TELEGRAM_API_ID=25324516
TELEGRAM_API_HASH=68ba80fccc2a16c7d02705a8dddd72c4
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_DB=tgbot
CURRENCY_SYMBOL=₹
CURRENCY_CODE=INR
SUPPORT_USERNAME=@youradmin
SUPPORT_HOURS=9 AM – 9 PM
